/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Global colors */
  --global-color-back: #6dbedf;
  --global-color-front: white;

  /* global page settings */
  --global-html-color: var(--global-color-front);
  --global-html-backgroundColor: var(--global-color-back);
  --global-selection-backgroundColor: var(--global-color-front);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  background-color: var(--global-html-backgroundColor);
  color: var(--global-html-color);
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Robot
*/

.c-robot {
  width: 100%;
  max-height: 400px;
  fill: var(--global-color-front);
  margin-bottom: 2rem;
}

.c-robot__shadow {
  fill: var(--c-robot__shadow-color, black);
  opacity: 0.1;
}

.c-controls {
  /* --c-controls-button-bgcolor: hsl(0 0% 0% / 0.1); */
  width: 100%;
  max-width: 300px;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; */
}

/* .c-controls__list {
  display: flex;
} */

.c-controls__button {
  /* transition: all 0.1s ease-in-out; */
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 14px;
  line-height: 1rem;
  text-transform: uppercase;
  /* padding: 0.5rem 0.75rem;
  border-radius: 0.25rem; */
}

.c-controls__button--pause {
  /* background-color: var(--c-controls-button-bgcolor); */
  /* border-radius: 2em; */
  /* padding: 0.5rem; */
}

.c-play-icon {
  display: block;
  width: 1rem;
}

/* 
.c-controls__radio:active + .c-controls__button,
.c-controls__button:active {
  transform: scale(0.9);
}

.c-controls__radio:focus + .c-controls__button,
.c-controls__button:focus {
  outline: 0;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.c-controls__radio:focus:not(:focus-visible) + .c-controls__button,
.c-controls__button:focus:not(:focus-visible) {
  box-shadow: none;
}

.c-controls__radio + .c-controls__button {
  opacity: 0.75;
}

.c-controls__radio:checked + .c-controls__button {
  opacity: 1;
  background-color: var(--c-controls-button-bgcolor);
}

.c-play-icon--play {
  display: none;
}

.is-paused .c-play-icon--play {
  display: block;
}

.is-paused .c-play-icon--pause {
  display: none;
} */

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
